.contain{
	width:1357px;
	margin-right: auto;
	margin-left: auto; 
}
.clearfix:after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
    }
    .clearfix{
        *zoom:1;
    }