/*<!-- 我是顶部导航开始 -->*/
header{
	width: 100%;
	height: 58px;
	background-color: #242424;
	position: fixed;
	z-index: 999;

}
.contain{
	height: 58px;
	width: 1360px;
	
}
.top .logo{
	height: 58px;
	width: 170px;
	/*background-color: yellow*/;
	display: inline-block;
	float: left;


}
.top .logo:hover{
	cursor: pointer;
}
.top .logo img{
	width: 36px;
	height: 36px;
	margin-top: 10px;

}
.top .logo .wenzi{
	font-size: 14px;
	color: #ffffff;
	margin-top: 8px;
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	text-align: center;
	height: 36px;

}
.top .left{
	float: left;
	display: inline-block;

}
.top .left-item{
	height: 38px;
	width: 72px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size:12px; 
	color:#d5ffff;
	padding-top: 22px;
	margin-left: 26px;
	transition:all 300ms;

}
.top .left-item:hover{
	background-color: black;
	color: #0824f1;
	cursor: pointer;
}
.top .right-item{
	height: 38px;
	width: 72px;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size:12px; 
	color:#d5ffff;
	padding-top: 22px;
	margin-left: 176px;

}
.top .right-item:hover{
	background-color: black;
	color: #0824f1;
	cursor: pointer;

}
.top .right-btn{
	width: 82px;
	height: 32px;
	border: 1px solid #d5ffff;
	display: inline-block;
	border-radius: 5px;
	font-size: 10px;
	color: #d5ffff;
	margin-left: 84px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	margin-top: 8px;
	transition:all 300ms;

}
.top .right-btn:hover{
	background-color:#0824f1;
	cursor: pointer; 
}

	
	/*<!-- 我是顶部导航结束 -->*/
	/*<!-- 我是焦点区域开始 -->*/
	.focus{
		width:100%;
		height: 476px;
		background-color: blue;
		position: relative;
	}
	.tup-btn{
		width: 262px;
		height: 58px;
		border: 1px solid #0824f1;
		position: absolute;
		left: 822px;
		bottom:124px;

	}
	.tup-btn:hover{
		background-color: #d5ffff;
		opacity: 0.2;
		cursor: pointer;
	}
	






	/*<!-- 我是焦点区域结束 -->*/
	/*<!-- 我是内容开始 -->*/
	.mian{height: 4234px;
	     width: 100%;
	     background-color: red;

	}
	.contain{
	width:1357px;
	margin-right: auto;
	margin-left: auto; 
	/*background-color: black;*/
	height: 100%;
}
	.mian .al{
		height: 130px;
		margin-top: 64px;
		background-color: #fdfdfd;

	}
	.mian .al-title{
		font-size: 30px;
		color: #000000;
		text-align: center;
		margin-top: 14px;

	}
	.mian .al-content{
		font-size: 18px;
		text-align: center;
		margin-left: 180px;
		display: inline-block;

	}
	.al .al-list{
		height: 260px;
		background-color: #fdfdfd;
		margin-top: 45px;
		


	}
	.al .al-item{
		width: 316px;
		height: 260px;
		background-color: ;
		float: left;
		margin-left: 31px;

	}
	.al .al-item:nth-child(1){
		margin-left: 0px;
	
	}
	.al .al-item:nth-child(4){
		/*margin-left: 15px;*/
		
	}

	.al .al-item img{
		height: 122px;
		width: 316px;
	}
	.al .item-title{
		font-size: 12px;
		color:#000000;
		margin-top: 38px;
		display: inline-block;

	}
	.al .item-content{
		font-size:12px; 
		color:#8b8b8b;
		margin-top: 28px;
		display: inline-block;


	}

	



	/*<!-- 我是内容结束 -->*/
	/*<!-- 我是底部开始 -->*/
	



	/*<!-- 我是底部结束 -->*/

	