/*我是顶部导航开始哦*/
 .clearfix:after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
    }
    .clearfix{
        *zoom:1;
    }
    a:hover{color: #f9f7f7;

    }
    a{
        text-decoration:none;
        color: #d3d0c4;

    }
    .contain{
        width: 1228px;
        margin-left: auto;
        margin-right: auto;
    }
    .col1{width: 234px;
        float: left;


    }

    .col2{
        width: 978px;
        float: right;
    }
    c
/*我是顶部导航结束*/